<div class="jumbotron">
  <h1>Pokelis</h1>
  <p>シンプルで小さなリスト</p>
  <p><%= link_to 'つくる',
              lists_path,
              method: :post,
              :class => 'btn btn-primary btn-lg' %>
  </p>
</div>
