// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
  position: relative;
  top: 0px;
  right: 0px;
}

.page-header {
  margin-top: -30px;
}

.btn_c {
  position: relative;
  padding: 7.5px 15px;
  border: 0;
  margin: 10px;

  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
}

footer {
  margin: 30px auto 50px;
}

.squirrel:hover {
  background-color: transparent;
  opacity: 0.5;
	filter: alpha(opacity=50);
}
